@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container form{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
}
.container .input-field{
    display: flex;
    flex-direction: column;
}
.container img{
    width: 200px;
    margin: 30px;
}
form h2{
    color: #013D5B;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
}
form p{
    text-align: center;
    padding: 18px;
    font-size: 19px;
}
.input-field{
    width: 85%;
    gap: 10px;
}
.input-field input{
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: none;
    border: 1px solid gray;
    border-radius: 9px;
}
.input-field button{
    font-size: 20px;
    padding: 10px 0;
    border-radius: 9px;
    font-weight: 600;
    background-color: #013D5B;
    color: white;
    border: none;
    margin-bottom: 25px;
}
