@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 15px;
}
nav{
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 0 150px;
}
nav .left{
    width: 50%;
}
.left img{
    width: 140px;
}
nav .right{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    gap: 35px;
}
.right img{
    width: 40px;
}
.right a{
    text-decoration: none;
    color: black;
    font-size: 15px;
} 
nav a:hover{
    cursor: pointer;
}
.container-mid{
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-mid .container{
    margin: 25px;
    padding: 25px 45px;
    border: 1px solid gray;
    border-radius: 9px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container img{
    width: 250px;
    margin: 0 0 7px 0;
}
.container .sign{
    font-weight: 900;
    font-size: 20px;
}
.container .name{
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}
.name input{
    font-size: 18px;
    font-weight: 100;
    outline: none;
    padding:  15px 20px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
}
.name label{
    font-weight: 600;
}
.remember-me{
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.remember-me input{
    height: 20px;
    width: 20px;
}
.remember-me span{
    padding: 7px;
    font-size: 15px;
}
.container a{
    width: 100%;
}
.container button:hover{
    cursor: pointer;
}
.container button{
    width: 100%;
    font-size: 19px;
    padding: 15px 0;
    background-color: #0070A8;
    border: none;
    color: white;
    border-radius: 9px;
    margin-bottom: 10px;
}
.bottom{
    width: 100%;
}
.bottom p{
    padding-top: 20px;
    color: #015883;
    font-weight: 1000;
    font-size: 14px;
}
.container-mid p{
    padding: 25px 0;
    padding-right: 10px;
}
.container-mid h3{
    color: #0070A8;
    margin-bottom: 13px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.footer a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0 7px;
}